apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: urs-web
  name: urs-web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: urs-web
  template:
    metadata:
      labels:
        app: urs-web
    spec:
      containers:
        - name: urs-web
          image: 765528283900.dkr.ecr.us-west-2.amazonaws.com/urs-web:1.2.0.77
          imagePullPolicy: IfNotPresent
          env:
            - name: release.version
              value: "1.2.0.77"
            - name: env.profile
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: env.profile
            - name: mfa.enable
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: mfa.enable
            - name: spring.data.redis.host
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: spring.data.redis.host
            - name: spring.data.redis.timeout
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: spring.data.redis.timeout
            - name: spring.data.redis.password
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: spring.data.redis.password
            - name: system.code
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: system.code.unleashed
            - name: service.domain
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: service.domain.unleashed
            - name: service.cookie.domain
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: service.cookie.domain.unleashed
            - name: spring.cloud.kubernetes.discovery.namespaces
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: spring.cloud.kubernetes.discovery.namespaces
            - name: aws.cognito.region
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: aws.cognito.region.unleashed
            - name: aws.cognito.pool-id
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: aws.cognito.pool-id.unleashed
            - name: aws.cognito.user-pool-domain
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: aws.cognito.user-pool-domain.unleashed
            - name: aws.cognito.identity.pool-id
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: aws.cognito.identity.pool-id
            - name: aws.cognito.clientId
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: aws.cognito.clientId.unleashed
            - name: aws.cognito.clientSecret
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: cognito.clientSecret.unleashed
            - name: aws.access_key_id
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: aws.access_key_id
            - name: aws.secret_access_key
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: aws.secret_access_key
            - name: forward.retry.count
              value: "1"
            - name: server.help.online.url
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: server.help.online.url
            - name: server.release.notes
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: server.release.notes
            - name: spring.security.oauth2.client.registration.r1.client_name
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: spring.security.oauth2.client.registration.r1.client_name
            - name: spring.security.oauth2.client.registration.r1.app_id
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: spring.security.oauth2.client.registration.r1.app_id
            - name: spring.security.oauth2.client.registration.r1.app_secret
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: spring.security.oauth2.client.registration.r1.app_secret
            - name: spring.security.oauth2.client.registration.r1.auth_uri
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: spring.security.oauth2.client.registration.r1.auth_uri
            - name: spring.security.oauth2.client.registration.r1.token_uri
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: spring.security.oauth2.client.registration.r1.token_uri
            - name: spring.security.oauth2.client.registration.r1.jwks
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: spring.security.oauth2.client.registration.r1.jwks
            - name: spring.security.oauth2.client.registration.r1.api_key
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: spring.security.oauth2.client.registration.r1.api_key
            - name: azure.smtp.client_id
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: azure.smtp.client_id
            - name: azure.smtp.tenant_id
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: azure.smtp.tenant_id
            - name: azure.smtp.client_secret
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: azure.smtp.client_secret
            - name: azure.smtp.scopes
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: azure.smtp.scopes
            - name: azure.smtp.mail_from
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: azure.smtp.mail_from
            - name: azure.smtp.user_name
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: azure.smtp.user_name
            - name: azure.smtp.system_name
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: azure.smtp.system_name
            - name: spring.security.user.password
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: spring.security.user.password
            - name: social.tweet.app_secret
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: social.tweet.app_secret
            - name: social.tweet.consumer_key
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: social.tweet.consumer_key
            - name: social.tweet.consumer_secret
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: social.tweet.consumer_secret
            - name: google.firebase.config.apiKey
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: google.firebase.config.apiKey
            - name: browse.des.key
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: browse.des.key
