apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: urs-stats
  name: urs-stats
spec:
  replicas: 1
  selector:
    matchLabels:
      app: urs-stats
  template:
    metadata:
      labels:
        app: urs-stats
    spec:
      containers:
        - name: urs-stats
          image: 765528283900.dkr.ecr.us-west-2.amazonaws.com/urs-stats:1.2.0.83
          imagePullPolicy: IfNotPresent
          env:
            - name: env.profile
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: env.profile
            - name: spring.data.redis.host
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: spring.data.redis.host
            - name: spring.data.redis.timeout
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: spring.data.redis.timeout
            - name: tunnel.host
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: tunnel.host
            - name: spring.cloud.kubernetes.discovery.namespaces
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: spring.cloud.kubernetes.discovery.namespaces
            - name: azure.smtp.client_id
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: azure.smtp.client_id
            - name: azure.smtp.tenant_id
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: azure.smtp.tenant_id
            - name: azure.smtp.client_secret
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: azure.smtp.client_secret
            - name: azure.smtp.scopes
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: azure.smtp.scopes
            - name: azure.smtp.mail_from
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: azure.smtp.mail_from
            - name: azure.smtp.user_name
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: azure.smtp.user_name
            - name: azure.smtp.system_name
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: azure.smtp.system_name
            - name: aws.access_key_id
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: aws.access_key_id
            - name: aws.secret_access_key
              valueFrom:
                secretKeyRef:
                  name: urs-secret
                  key: aws.secret_access_key
            - name: aws.dynamodb.region
              valueFrom:
                configMapKeyRef:
                  name: urs-config
                  key: aws.dynamodb.region
            - name: server.portal.port
              value: "9643"
            - name: server.login.cam.only
              value: "false"
